/* Problem Statement */
/* line 6, ../../sass/modules/assess-and-plan.scss */
.table-problem-statement .options {
  max-width: 60px;
}

/* line 11, ../../sass/modules/assess-and-plan.scss */
.form-problem-statement {
  margin-left: 20px;
}
/* line 14, ../../sass/modules/assess-and-plan.scss */
.form-problem-statement h4 {
  margin-top: 25px;
  margin-bottom: 5px;
}
/* line 19, ../../sass/modules/assess-and-plan.scss */
.form-problem-statement hr {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 24, ../../sass/modules/assess-and-plan.scss */
.form-problem-statement .form-group {
  margin-left: 20px;
}
/* line 26, ../../sass/modules/assess-and-plan.scss */
.form-problem-statement .form-group textarea {
  max-width: 514px;
  min-height: 64px;
  width: 100%;
  resize: vertical;
  padding: 5px 10px;
}
