/*Colors*/
/*Heights*/
/*Navbar height*/
/*Fonts*/
@font-face {
  font-family: 'AvantGarde';
  src: url("../fonts/avantgarde.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avantgarde.eot?#iefix") format("embedded-opentype"), url("../fonts/avantgarde.woff") format("woff"), url("../fonts/avantgarde.ttf") format("truetype"), url("../fonts/avantgarde.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* z-index */
/*$child-navbar-index: 3;
$site-select-index: 1;*/
/* line 3, ../../sass/modules/budget.scss */
#edit-budget-content {
  margin-left: 20px;
}

/* line 8, ../../sass/modules/budget.scss */
.invoice-information label {
  font-weight: 100;
  padding-bottom: 5px;
  padding-top: 5px !important;
}
/* line 14, ../../sass/modules/budget.scss */
.invoice-information input {
  width: 175px;
  height: 26px;
}
/* line 19, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table {
  margin-left: 30px;
  width: 20%;
}
/* line 23, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table tr {
  background-color: white;
}
/* line 26, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table tr td {
  padding: 4px 8px;
  min-width: 190px;
}
/* line 33, ../../sass/modules/budget.scss */
.invoice-information .budget-header {
  display: inline-block;
  padding: 2px 25px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}
/* line 39, ../../sass/modules/budget.scss */
.invoice-information .budget-header .form-group {
  display: inline-block;
  margin-left: 20px;
}
/* line 44, ../../sass/modules/budget.scss */
.invoice-information .budget-header #form-date-created input {
  width: 170px;
}
/* line 48, ../../sass/modules/budget.scss */
.invoice-information .budget-header #form-contract-number input {
  width: 160px;
}
/* line 52, ../../sass/modules/budget.scss */
.invoice-information .budget-header #form-status select {
  width: 120px;
}
/* line 56, ../../sass/modules/budget.scss */
.invoice-information .budget-header #form-contract-amount input {
  width: 140px;
}

/* line 63, ../../sass/modules/budget.scss */
.budget-table {
  border-collapse: collapse;
  width: 90%;
}
/* line 67, ../../sass/modules/budget.scss */
.budget-table label {
  padding-top: 0;
  margin-bottom: 0;
}
/* line 71, ../../sass/modules/budget.scss */
.budget-table label.section-label {
  padding-top: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}
/* line 79, ../../sass/modules/budget.scss */
.budget-table.edit {
  width: 65%;
}
/* line 83, ../../sass/modules/budget.scss */
.budget-table tr:nth-of-type(even) {
  background-color: #eeeeee;
}
/* line 87, ../../sass/modules/budget.scss */
.budget-table th {
  background-color: #71c224;
  padding: 8px 10px;
}
/* line 92, ../../sass/modules/budget.scss */
.budget-table td {
  display: table-cell;
  padding: 6px 8px;
}
/* line 97, ../../sass/modules/budget.scss */
.budget-table td:nth-of-type(3), .budget-table th:nth-of-type(3) {
  padding-left: 2.5%;
}
/* line 104, ../../sass/modules/budget.scss */
.budget-table .name {
  width: 25%;
  min-width: 275px;
}
/* line 109, ../../sass/modules/budget.scss */
.budget-table .amount {
  width: 16%;
  padding-left: 2.5%;
}
/* line 113, ../../sass/modules/budget.scss */
.budget-table .amount label {
  padding-bottom: 5px;
}
/* line 119, ../../sass/modules/budget.scss */
.budget-table.contractual-administrative-service .name, .budget-table.contractual-subcontracts-service .name {
  width: 15%;
  min-width: inherit;
}
/* line 123, ../../sass/modules/budget.scss */
.budget-table.contractual-administrative-service .amount, .budget-table.contractual-subcontracts-service .amount {
  width: 13%;
}
/* line 126, ../../sass/modules/budget.scss */
.budget-table.contractual-administrative-service td:nth-of-type(3), .budget-table.contractual-administrative-service th:nth-of-type(3), .budget-table.contractual-subcontracts-service td:nth-of-type(3), .budget-table.contractual-subcontracts-service th:nth-of-type(3) {
  width: 20%;
}
/* line 129, ../../sass/modules/budget.scss */
.budget-table.contractual-administrative-service td:nth-of-type(4), .budget-table.contractual-administrative-service th:nth-of-type(4), .budget-table.contractual-subcontracts-service td:nth-of-type(4), .budget-table.contractual-subcontracts-service th:nth-of-type(4) {
  width: 14%;
}
/* line 134, ../../sass/modules/budget.scss */
.budget-table.other .name {
  width: 20%;
  min-width: inherit;
}
/* line 138, ../../sass/modules/budget.scss */
.budget-table.other .amount {
  width: 14%;
}
/* line 143, ../../sass/modules/budget.scss */
.budget-table.airfare .name {
  width: 22%;
  min-width: inherit;
}
/* line 149, ../../sass/modules/budget.scss */
.budget-table.per-diem .name {
  width: 20%;
  min-width: inherit;
}
/* line 153, ../../sass/modules/budget.scss */
.budget-table.per-diem .amount {
  width: 25%;
}
/* line 157, ../../sass/modules/budget.scss */
.budget-table.per-diem td:nth-of-type(3) input, .budget-table.per-diem th:nth-of-type(3) input {
  width: 100px;
}
/* line 164, ../../sass/modules/budget.scss */
.budget-table.equipment td:nth-of-type(2), .budget-table.equipment th:nth-of-type(2) {
  width: 12%;
}

/* line 171, ../../sass/modules/budget.scss */
.form-options {
  padding-left: 10px;
}

/* line 176, ../../sass/modules/budget.scss */
.budget-submit {
  margin-top: 25px;
  margin-left: 52px;
  margin-bottom: 35px;
}

/* line 182, ../../sass/modules/budget.scss */
.budget-footer {
  margin-left: 120px;
  display: inline-block;
  padding: 15px 30px;
  background-color: #f6f6f6;
}
/* line 187, ../../sass/modules/budget.scss */
.budget-footer .btn {
  margin-left: 15px;
  display: inline-block;
}
