/*Colors*/
/*Heights*/
/*Navbar height*/
/*Fonts*/
@font-face {
  font-family: 'AvantGarde';
  src: url("../fonts/avantgarde.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avantgarde.eot?#iefix") format("embedded-opentype"), url("../fonts/avantgarde.woff") format("woff"), url("../fonts/avantgarde.ttf") format("truetype"), url("../fonts/avantgarde.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* z-index */
/*$child-navbar-index: 3;
$site-select-index: 1;*/
/* line 3, ../../sass/modules/budget.scss */
#edit-budget-content {
  margin-left: 20px;
}
/* line 5, ../../sass/modules/budget.scss */
#edit-budget-content label {
  padding-top: 0;
  margin-bottom: 0;
}
/* line 9, ../../sass/modules/budget.scss */
#edit-budget-content .section-label {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

/* line 16, ../../sass/modules/budget.scss */
.budget-header {
  display: inline-block;
  padding: 2px 25px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}
/* line 22, ../../sass/modules/budget.scss */
.budget-header .form-group {
  display: inline-block;
  margin-left: 20px;
}
/* line 27, ../../sass/modules/budget.scss */
.budget-header #form-date-created input {
  width: 170px;
}
/* line 31, ../../sass/modules/budget.scss */
.budget-header #form-contract-number input {
  width: 160px;
}
/* line 35, ../../sass/modules/budget.scss */
.budget-header #form-status select {
  width: 120px;
}
/* line 39, ../../sass/modules/budget.scss */
.budget-header #form-contract-amount input {
  width: 140px;
}

/* line 46, ../../sass/modules/budget.scss */
.invoice-information label {
  font-weight: 100;
  padding-bottom: 5px;
  padding-top: 5px !important;
}
/* line 51, ../../sass/modules/budget.scss */
.invoice-information input {
  width: 175px;
  height: 26px;
}
/* line 56, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table {
  margin-left: 30px;
  width: 20%;
}
/* line 60, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table tr {
  background-color: white;
}
/* line 63, ../../sass/modules/budget.scss */
.invoice-information #overview-budget-table tr td {
  padding: 4px 8px;
  min-width: 190px;
}

/* line 74, ../../sass/modules/budget.scss */
.form-page {
  padding-left: 40px;
}

/* line 78, ../../sass/modules/budget.scss */
.budget-table {
  border-collapse: collapse;
  width: 90%;
}
/* line 84, ../../sass/modules/budget.scss */
.budget-table tr:nth-of-type(even) {
  background-color: #eeeeee;
}
/* line 88, ../../sass/modules/budget.scss */
.budget-table tr th {
  background-color: #71c224;
  padding: 8px 10px;
}
/* line 93, ../../sass/modules/budget.scss */
.budget-table tr td {
  display: table-cell;
  padding: 6px 8px;
}
/* line 98, ../../sass/modules/budget.scss */
.budget-table tr td:nth-of-type(1), .budget-table tr th:nth-of-type(1) {
  width: 35%;
  min-width: 275px;
}
/* line 103, ../../sass/modules/budget.scss */
.budget-table tr td.amount, .budget-table tr th.amount {
  width: 25%;
  padding-left: 2.5%;
}
/* line 107, ../../sass/modules/budget.scss */
.budget-table tr td.amount label, .budget-table tr th.amount label {
  padding-left: 15px;
  padding-bottom: 5px;
}
/* line 112, ../../sass/modules/budget.scss */
.budget-table tr td.amount input, .budget-table tr th.amount input {
  width: 100%;
}
/* line 116, ../../sass/modules/budget.scss */
.budget-table tr td.amount span.amount-padding, .budget-table tr th.amount span.amount-padding {
  padding-left: 10px;
}
/* line 121, ../../sass/modules/budget.scss */
.budget-table tr td:nth-of-type(3), .budget-table tr th:nth-of-type(3) {
  padding-left: 2.5%;
}

/* line 130, ../../sass/modules/budget.scss */
.edit-budget-table {
  width: 65%;
}

/* line 137, ../../sass/modules/budget.scss */
.form-table-container {
  /*position: relative;
  margin-bottom: 75px;*/
}

/* line 142, ../../sass/modules/budget.scss */
.form-options {
  padding-left: 30px;
}
/* line 145, ../../sass/modules/budget.scss */
.form-options input, .form-options button {
  margin-left: 10px;
}
