/*Colors*/
/*Heights*/
/*Navbar height*/
/*Fonts*/
@font-face {
  font-family: 'AvantGarde';
  src: url("../fonts/avantgarde.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avantgarde.eot?#iefix") format("embedded-opentype"), url("../fonts/avantgarde.woff") format("woff"), url("../fonts/avantgarde.ttf") format("truetype"), url("../fonts/avantgarde.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* z-index */
/*$child-navbar-index: 3;
$site-select-index: 1;*/
/* line 9, ../../sass/modules/header.scss */
.navbar {
  height: 50px;
  /*min-height: $navbar-min-height;*/
  margin-bottom: 35px;
  background-color: #28AF21;
  border: 1px solid #196f15;
  /*Styling for the center banner description of website*/
  /*Differentiation*/
  /*Differentiation*/
}
/* line 16, ../../sass/modules/header.scss */
.navbar .navbar-home {
  float: left;
}
/* line 19, ../../sass/modules/header.scss */
.navbar .navbar-home a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  font-size: 2.75em;
  color: white;
  text-align: center;
  padding: 7px 8px;
}
/* line 27, ../../sass/modules/header.scss */
.navbar .navbar-home a:hover {
  text-decoration: underline;
}
/* line 33, ../../sass/modules/header.scss */
.navbar .navbar-description {
  max-width: 425px;
}
/* line 36, ../../sass/modules/header.scss */
.navbar .navbar-description .navbar-description-text {
  display: block;
  max-height: 70px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 11px 16px;
  font-family: AvantGarde, sans-serif;
  margin: 0;
}
@media screen and (max-width: 960px) {
  /* line 47, ../../sass/modules/header.scss */
  .navbar .navbar-description .navbar-description-text {
    font-size: 14px;
    padding: 14px 16px;
  }
}
@media screen and (max-width: 760px) {
  /* line 54, ../../sass/modules/header.scss */
  .navbar .navbar-description .navbar-description-text {
    font-size: 12px;
    padding: 18px 4px;
  }
}
@media screen and (max-width: 720px) {
  /* line 61, ../../sass/modules/header.scss */
  .navbar .navbar-description .navbar-description-text {
    font-size: 11px;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 625px) {
  /* line 68, ../../sass/modules/header.scss */
  .navbar .navbar-description .navbar-description-text {
    display: none;
  }
}
/* line 75, ../../sass/modules/header.scss */
.navbar .navbar-section {
  /*ul*/
  list-style-type: none;
  margin-bottom: 0;
}
/* line 79, ../../sass/modules/header.scss */
.navbar .navbar-section.left {
  float: left;
  padding-left: 20px;
}
/* line 84, ../../sass/modules/header.scss */
.navbar .navbar-section.right {
  float: right;
  padding-right: 20px;
}
/* line 89, ../../sass/modules/header.scss */
.navbar .navbar-section.middle {
  /*Must set a specific width for div somewhere else to center*/
  margin: 0 auto;
}
/* line 94, ../../sass/modules/header.scss */
.navbar .navbar-section .navbar-item {
  /*li*/
  float: left;
}
/* line 97, ../../sass/modules/header.scss */
.navbar .navbar-section .navbar-item a {
  display: block;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}
/* line 103, ../../sass/modules/header.scss */
.navbar .navbar-section .navbar-item a:hover {
  background-color: #7dd728;
}
/* line 111, ../../sass/modules/header.scss */
.navbar.parent {
  height: 70px;
  margin-bottom: auto;
}
/* line 115, ../../sass/modules/header.scss */
.navbar.parent .navbar-item {
  /*li*/
  /* For positioning */
}
/* line 116, ../../sass/modules/header.scss */
.navbar.parent .navbar-item a {
  margin-top: 10px;
  color: white;
  text-decoration: underline;
}
/* line 5, ../../sass/components/image-button.scss */
.navbar.parent .navbar-item .image-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: url(../images/logout-green.png);
  border-radius: 50%;
  cursor: pointer;
}
/* line 16, ../../sass/components/image-button.scss */
.navbar.parent .navbar-item .image-button:hover {
  background-color: #7dd728;
  background-image: url(../images/logout-white.png);
}
/* line 20, ../../sass/components/image-button.scss */
.navbar.parent .navbar-item .image-button span {
  display: none;
}
/* line 127, ../../sass/modules/header.scss */
.navbar.parent .navbar-item .image-button {
  margin-top: 14px;
  margin-left: 15px;
}
/* line 133, ../../sass/modules/header.scss */
.navbar.parent .login-item {
  float: left;
  max-width: 250px;
  text-align: center;
}
/* line 138, ../../sass/modules/header.scss */
.navbar.parent .login-item p {
  margin-top: 15px;
  /*To vertically center more */
  margin-bottom: -5px;
  font-size: 17px;
  color: white;
  /*To keep contained*/
  max-height: 20px;
  overflow: hidden;
}
/* line 149, ../../sass/modules/header.scss */
.navbar.parent .login-item a {
  margin-top: 0;
  text-decoration: underline;
  font-size: 10px;
  color: white;
}
/* line 155, ../../sass/modules/header.scss */
.navbar.parent .login-item a:hover {
  color: #c3ed9c;
}
/* line 162, ../../sass/modules/header.scss */
.navbar.child {
  background-color: #eaeaea;
  border: 1px solid #d1d1d1;
  /* For the currently selected site */
}
/* line 165, ../../sass/modules/header.scss */
.navbar.child .navbar-item, .navbar.child .change-site {
  /*li*/
  position: relative;
}
/* line 167, ../../sass/modules/header.scss */
.navbar.child .navbar-item a, .navbar.child .change-site a {
  color: black;
}
/* line 170, ../../sass/modules/header.scss */
.navbar.child .navbar-item a:hover, .navbar.child .change-site a:hover {
  background-color: #e4e4e4;
}
/* line 176, ../../sass/modules/header.scss */
.navbar.child .change-site {
  height: 48px;
}
/* line 178, ../../sass/modules/header.scss */
.navbar.child .change-site a {
  height: 48px;
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  border-left: solid 1px #d4d4d4;
  border-right: solid 1px #d4d4d4;
  /*To make spacing better between down triangle and edge*/
  padding-right: 9px;
}
/* line 187, ../../sass/modules/header.scss */
.navbar.child .change-site a .arrow-down {
  font-size: 15px;
  color: dimgray;
}
/* line 191, ../../sass/modules/header.scss */
.navbar.child .change-site a:hover {
  /*background-color: $child-navbar-color;*/
}
/* line 197, ../../sass/modules/header.scss */
.navbar.child .change-site a.selected {
  background-color: #e3e3e3;
}
/* line 202, ../../sass/modules/header.scss */
.navbar.child .drop-down {
  position: absolute;
  top: 49px;
  right: 0;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  width: auto;
  white-space: nowrap;
  padding: 0 25px;
  display: none;
  background-color: #e7e7e7;
}
/* line 214, ../../sass/modules/header.scss */
.navbar.child .drop-down.select-site {
  height: 55px;
}
/* line 217, ../../sass/modules/header.scss */
.navbar.child .drop-down select {
  margin: 11px 15px 0 0;
  max-width: 200px;
}
/* line 220, ../../sass/modules/header.scss */
.navbar.child .drop-down select:focus {
  /*Reset to normal*/
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: auto;
  outline-offset: -2px;
}
/* line 231, ../../sass/modules/header.scss */
.navbar.child .drop-down #change-site-input {
  margin-left: 15px;
}
