<form>
  <div class="form-group inline-block">
    <label class="control-label col-md-2" for="">
      Provider:
    </label>
    <select class="input-sm">
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
  </div>
  <div class="form-group inline-block">
    <label class="control-label col-md-2" for="">
      Contract:
    </label>
    <select class="input-sm">
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
  </div>
  <div class="form-group inline-block">
    <label class="control-label col-md-2" for="">
      Site:
    </label>
    <select class="input-sm">
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
  </div>
  <input class="btn btn-default" value="Switch" type="submit" />
</form>