@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<h2 class="buddy-header">Create Role</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td class="minimum">Enter Role Name To be Created:</td>
      <td class="maximum">
        @Html.EditorFor(m => m.Name)
      </td>
    </tr>
  </table>
  <input class="btn btn-default" type="submit" value="Create Role" />
}