@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
  ViewBag.Title = "Index";
}

<h2 class="buddy-header">System Roles</h2>
<p class="buddy-link">
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th class="minimum">
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th class="maximum"></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td class="minimum">
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td class="maximum">
        @Html.ActionLink("Delete", "Delete", new { id = item.Name })
      </td>
    </tr>
  }
</table>