/*Colors*/
/*Heights*/
/*Navbar height*/
/*Fonts*/
@font-face {
  font-family: 'AvantGarde';
  src: url("../fonts/avantgarde.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avantgarde.eot?#iefix") format("embedded-opentype"), url("../fonts/avantgarde.woff") format("woff"), url("../fonts/avantgarde.ttf") format("truetype"), url("../fonts/avantgarde.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* z-index */
/*$child-navbar-index: 3;
$site-select-index: 1;*/
/* line 3, ../../sass/base/form.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 10, ../../sass/base/form.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 22, ../../sass/base/form.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/* line 29, ../../sass/base/form.scss */
input,
select,
textarea {
  max-width: 280px;
}

/* line 35, ../../sass/base/form.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../../sass/base/form.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* line 48, ../../sass/base/form.scss */
input[type="file"] {
  display: block;
}

/* line 52, ../../sass/base/form.scss */
input[type="range"] {
  display: block;
  width: 100%;
}

/* line 57, ../../sass/base/form.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 62, ../../sass/base/form.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: #71c224;
  outline-offset: -2px;
}

/* line 71, ../../sass/base/form.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

/* line 79, ../../sass/base/form.scss */
.form-control, textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* line 98, ../../sass/base/form.scss */
.form-control:focus, textarea:focus {
  border-color: #71c224;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 194, 36, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 194, 36, 0.6);
}

/* line 106, ../../sass/base/form.scss */
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

/* line 111, ../../sass/base/form.scss */
.form-control:-ms-input-placeholder {
  color: #999;
}

/* line 115, ../../sass/base/form.scss */
.form-control::-webkit-input-placeholder {
  color: #999;
}

/* line 119, ../../sass/base/form.scss */
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

/* line 124, ../../sass/base/form.scss */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

/* line 131, ../../sass/base/form.scss */
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

/* line 136, ../../sass/base/form.scss */
textarea.form-control {
  height: auto;
}

/* line 140, ../../sass/base/form.scss */
input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 145, ../../sass/base/form.scss */
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }

  /* line 152, ../../sass/base/form.scss */
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }

  /* line 163, ../../sass/base/form.scss */
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
/* line 175, ../../sass/base/form.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 179, ../../sass/base/form.scss */
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 188, ../../sass/base/form.scss */
.index-list {
  display: inline-block;
}
/* line 191, ../../sass/base/form.scss */
.index-list .check-box {
  position: relative;
  bottom: -2px;
}
/* line 196, ../../sass/base/form.scss */
.index-list .checkbox-description {
  margin-left: 3px;
}

/* line 201, ../../sass/base/form.scss */
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

/* line 210, ../../sass/base/form.scss */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  /*Removed to improve visuals, will see if needs to be kept*/
  /*margin-left: -20px;*/
}

/* line 220, ../../sass/base/form.scss */
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

/* line 225, ../../sass/base/form.scss */
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

/* line 236, ../../sass/base/form.scss */
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

/* line 242, ../../sass/base/form.scss */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}

/* line 251, ../../sass/base/form.scss */
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

/* line 258, ../../sass/base/form.scss */
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}

/* line 265, ../../sass/base/form.scss */
.form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}

/* line 272, ../../sass/base/form.scss */
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}

/* line 278, ../../sass/base/form.scss */
.input-sm, .input-sm-parent > select {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 285, ../../sass/base/form.scss */
.input-sm:focus, .input-sm-parent > select:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: #71c224;
  outline-offset: -2px;
}

/* line 293, ../../sass/base/form.scss */
select.input-sm {
  height: 30px;
  line-height: 30px;
}

/* line 298, ../../sass/base/form.scss */
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

/* line 303, ../../sass/base/form.scss */
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 311, ../../sass/base/form.scss */
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}

/* line 316, ../../sass/base/form.scss */
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}

/* line 321, ../../sass/base/form.scss */
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}

/* line 329, ../../sass/base/form.scss */
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* line 337, ../../sass/base/form.scss */
select.input-lg {
  height: 46px;
  line-height: 46px;
}

/* line 342, ../../sass/base/form.scss */
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}

/* line 347, ../../sass/base/form.scss */
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* line 355, ../../sass/base/form.scss */
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}

/* line 360, ../../sass/base/form.scss */
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}

/* line 365, ../../sass/base/form.scss */
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

/* line 373, ../../sass/base/form.scss */
.has-feedback {
  position: relative;
}

/* line 377, ../../sass/base/form.scss */
.has-feedback .form-control {
  padding-right: 42.5px;
}

/* line 381, ../../sass/base/form.scss */
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

/* line 394, ../../sass/base/form.scss */
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

/* line 402, ../../sass/base/form.scss */
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* line 410, ../../sass/base/form.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}

/* line 423, ../../sass/base/form.scss */
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 429, ../../sass/base/form.scss */
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

/* line 435, ../../sass/base/form.scss */
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}

/* line 441, ../../sass/base/form.scss */
.has-success .form-control-feedback {
  color: #3c763d;
}

/* line 445, ../../sass/base/form.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}

/* line 458, ../../sass/base/form.scss */
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 464, ../../sass/base/form.scss */
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

/* line 470, ../../sass/base/form.scss */
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}

/* line 476, ../../sass/base/form.scss */
.has-warning .form-control-feedback {
  color: #8a6d3b;
}

/* line 480, ../../sass/base/form.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}

/* line 493, ../../sass/base/form.scss */
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 499, ../../sass/base/form.scss */
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

/* line 505, ../../sass/base/form.scss */
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

/* line 511, ../../sass/base/form.scss */
.has-error .form-control-feedback {
  color: #a94442;
}

/* line 515, ../../sass/base/form.scss */
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}

/* line 519, ../../sass/base/form.scss */
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

/* line 523, ../../sass/base/form.scss */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  /* line 531, ../../sass/base/form.scss */
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  /* line 537, ../../sass/base/form.scss */
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  /* line 543, ../../sass/base/form.scss */
  .form-inline .form-control-static {
    display: inline-block;
  }

  /* line 547, ../../sass/base/form.scss */
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  /* line 552, ../../sass/base/form.scss */
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }

  /* line 558, ../../sass/base/form.scss */
  .form-inline .input-group > .form-control {
    width: 100%;
  }

  /* line 562, ../../sass/base/form.scss */
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  /* line 567, ../../sass/base/form.scss */
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  /* line 575, ../../sass/base/form.scss */
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }

  /* line 580, ../../sass/base/form.scss */
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }

  /* line 586, ../../sass/base/form.scss */
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
/* line 591, ../../sass/base/form.scss */
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 600, ../../sass/base/form.scss */
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}

/*Removed to improve visuals*/
/*.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}*/
@media (min-width: 768px) {
  /* line 612, ../../sass/base/form.scss */
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
/* line 619, ../../sass/base/form.scss */
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}

@media (min-width: 768px) {
  /* line 624, ../../sass/base/form.scss */
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  /* line 631, ../../sass/base/form.scss */
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
