/*@import "Compass/Reset";*/
/*Colors*/
/*Heights*/
/*Navbar height*/
/*Fonts*/
@font-face {
  font-family: 'AvantGarde';
  src: url("../fonts/avantgarde.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avantgarde.eot?#iefix") format("embedded-opentype"), url("../fonts/avantgarde.woff") format("woff"), url("../fonts/avantgarde.ttf") format("truetype"), url("../fonts/avantgarde.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* z-index */
/*$child-navbar-index: 3;
$site-select-index: 1;*/
/* line 6, ../../sass/base/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../sass/base/global.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../../sass/base/global.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  /*TODO: need?*/
  padding-bottom: 20px;
}

/* line 28, ../../sass/base/global.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

/* line 35, ../../sass/base/global.scss */
.fade.in {
  opacity: 1;
}

/* line 39, ../../sass/base/global.scss */
.collapse {
  display: none;
}

/* line 43, ../../sass/base/global.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 55, ../../sass/base/global.scss */
img {
  vertical-align: middle;
}

/* line 59, ../../sass/base/global.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 63, ../../sass/base/global.scss */
.img-circle {
  border-radius: 50%;
}

/* line 67, ../../sass/base/global.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 74, ../../sass/base/global.scss */
p {
  margin: 0 0 10px;
}

/* line 78, ../../sass/base/global.scss */
small,
.small {
  font-size: 85%;
}

/* line 83, ../../sass/base/global.scss */
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}

/* line 89, ../../sass/base/global.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 98, ../../sass/base/global.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 105, ../../sass/base/global.scss */
.body-content {
  padding-right: 30px;
  padding-left: 30px;
}

/* TODO: Make this right */
/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}*/
/* If > than 750 */
/*@media (min-width: 850px) {
  .container {
    width: 820px;
  }
}*/
/* If > than 990 */
/*@media (min-width: 990px) {
  .container {
    width: 950px;
  }
}*/
/* If > than 1200 */
/*@media (min-width: 1000px) {
  .container {
    width: 1070px;
  }
}*/
/* line 139, ../../sass/base/global.scss */
.container {
  max-width: 1000px;
}

/*.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/
/*Links*/
/* line 151, ../../sass/base/global.scss */
a {
  color: #64ac20;
  text-decoration: none;
  outline-color: #58971c;
}

/* line 157, ../../sass/base/global.scss */
a:hover,
a:focus {
  color: #4b8118;
  text-decoration: underline;
}

/* line 163, ../../sass/base/global.scss */
.back-link {
  display: block;
  margin-top: 10px;
}

/* line 168, ../../sass/base/global.scss */
[role="button"] {
  cursor: pointer;
}

/* line 173, ../../sass/base/global.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

/* line 179, ../../sass/base/global.scss */
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 184, ../../sass/base/global.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* line 192, ../../sass/base/global.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 206, ../../sass/base/global.scss */
dl {
  margin-bottom: 20px;
}

/* line 210, ../../sass/base/global.scss */
dt,
dd {
  line-height: 1.428571429;
}

/* line 215, ../../sass/base/global.scss */
dt {
  font-weight: bold;
}

/* line 219, ../../sass/base/global.scss */
dd {
  margin-left: 0;
  margin-bottom: 5px;
}

/* Used to style the generated details page */
/* line 225, ../../sass/base/global.scss */
.dl-horizontal.details-list {
  margin-left: 10px;
}
/* line 228, ../../sass/base/global.scss */
.dl-horizontal.details-list dt {
  float: left;
  clear: left;
  min-width: 150px;
  text-align: right;
  margin-right: 5px;
  height: 20px;
}
/* line 236, ../../sass/base/global.scss */
.dl-horizontal.details-list dt:after {
  content: ":";
}
/* line 241, ../../sass/base/global.scss */
.dl-horizontal.details-list dd {
  height: 20px;
}

/* line 246, ../../sass/base/global.scss */
.row {
  /*Don't know that it is needed*/
  /*margin-right: -15px;
  margin-left: -15px;*/
  /*Testing out*/
  display: block;
}

/* line 254, ../../sass/base/global.scss */
.inline-block {
  display: inline-block;
}

/* line 258, ../../sass/base/global.scss */
.block {
  display: block;
}

/* line 262, ../../sass/base/global.scss */
.none {
  display: none;
}

/* As hex codes */
/*.color-primary-0 {
  color: #28AF21;
}*/
/* Main Primary color */
/*.color-primary-1 {
  color: #70D46B;
}

.color-primary-2 {
  color: #48BD41;
}

.color-primary-3 {
  color: #158D0F;
}

.color-primary-4 {
  color: #056D00;
}

.color-secondary-1-0 {
  color: #1C955E;
}*/
/* Main Secondary color (1) */
/*.color-secondary-1-1 {
  color: #5DBA90;
}

.color-secondary-1-2 {
  color: #38A171;
}

.color-secondary-1-3 {
  color: #0D7847;
}

.color-secondary-1-4 {
  color: #005D33;
}

.color-secondary-2-0 {
  color: #71C224;
}*/
/* Main Secondary color (2) */
/*.color-secondary-2-1 {
  color: #ADE874;
}

.color-secondary-2-2 {
  color: #8BD249;
}

.color-secondary-2-3 {
  color: #559C11;
}

.color-secondary-2-4 {
  color: #3B7900;
}*/
/* As RGBa codes */
/*.rgba-primary-0 {
  color: rgba( 40,175, 33,1);
}*/
/* Main Primary color */
/*.rgba-primary-1 {
  color: rgba(112,212,107,1);
}

.rgba-primary-2 {
  color: rgba( 72,189, 65,1);
}

.rgba-primary-3 {
  color: rgba( 21,141, 15,1);
}

.rgba-primary-4 {
  color: rgba( 5,109, 0,1);
}

.rgba-secondary-1-0 {
  color: rgba( 28,149, 94,1);
}*/
/* Main Secondary color (1) */
/*.rgba-secondary-1-1 {
  color: rgba( 93,186,144,1);
}

.rgba-secondary-1-2 {
  color: rgba( 56,161,113,1);
}

.rgba-secondary-1-3 {
  color: rgba( 13,120, 71,1);
}

.rgba-secondary-1-4 {
  color: rgba( 0, 93, 51,1);
}

.rgba-secondary-2-0 {
  color: rgba(113,194, 36,1);
}*/
/* Main Secondary color (2) */
/*.rgba-secondary-2-1 {
  color: rgba(173,232,116,1);
}

.rgba-secondary-2-2 {
  color: rgba(139,210, 73,1);
}

.rgba-secondary-2-3 {
  color: rgba( 85,156, 17,1);
}

.rgba-secondary-2-4 {
  color: rgba( 59,121, 0,1);
}*/
