@model HISSAP1.Models.IndexViewModel
@{
  ViewBag.Title = "Manage";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
  <div class="col-md-3">
    <h2>Manage Account</h2>
    <ul class="site-tree">
      <li>
        <h4 class="branch">
          @if (Model.HasPassword)
          {
            @Html.ActionLink("Change your password", "ChangePassword")
          }
          else
          {
            @Html.ActionLink("Create", "SetPassword")
          }
        </h4>
        <p class="branch-description">Change your password immediately to a new one.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Edit Account Information", "Edit", "Manage")</h4>
        <p class="branch-description">Edit contact information, email and username.</p>
      </li>
    </ul>
  </div>
</div>
