@import "../base/variables.scss";

#edit-budget-content {
  margin-left: 20px;
  label{
    padding-top: 0;
    margin-bottom: 0;
  }
  .section-label{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
  }
}

.budget-header {
  display: inline-block;
  padding: 2px 25px;
  background-color: lighten($light-gray, 30%);
  margin-bottom: 10px;

  .form-group {
    display: inline-block;
    margin-left: 20px;
  }

  #form-date-created input {
    width: 170px;
  }

  #form-contract-number input {
    width: 160px;
  }

  #form-status select {
    width: 120px;
  }

  #form-contract-amount input {
    width: 140px;
  }
}


.invoice-information {
  label{
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 5px !important;
  }
  input {
    width: 175px;
    height: 26px;
  }

  #overview-budget-table {
    margin-left: 30px;
    width: 20%;

    tr {
      background-color: white;

      td {
        padding: 4px 8px;
        min-width: 190px;
      }
    }
  }
}




.form-page {
  padding-left: 40px;
}

.budget-table {
  border-collapse: collapse;
  width: 90%;

  tr {

    &:nth-of-type(even) {
      background-color: #eeeeee;
    }

    th {
      background-color: lighten($third-color, 5%);
      padding: 8px 10px;
    }

    td {
      display: table-cell;
      padding: 6px 8px;
    }

    td:nth-of-type(1), th:nth-of-type(1) {
      width: 35%;
      min-width: 275px;
    }

    td.amount, th.amount {
      width: 25%;
      padding-left: 2.5%;

      label {
        padding-left: 15px;
        padding-bottom: 5px;
      }

      input {
        width: 100%;
      }

      span.amount-padding {
        padding-left: 10px;
      }
    }

    td:nth-of-type(3), th:nth-of-type(3) {
      padding-left: 2.5%;
    }

    td:nth-of-type(4), th:nth-of-type(4) {
    }
  }
}

.edit-budget-table {
  width: 65%;
}


.form-table-container {
  input.btn-success{
    //Move input over to the left just a smidge
    margin-left: 0;
  }
}

.form-options {
  padding-left: 30px;

  input, button {
    margin-left: 10px;
  }
}
