/* line 1, ../../sass/components/alert.scss */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 7, ../../sass/components/alert.scss */
.alert h4 {
  margin-top: 0;
  color: inherit;
}

/* line 11, ../../sass/components/alert.scss */
.alert .alert-link {
  font-weight: bold;
}

/* line 14, ../../sass/components/alert.scss */
.alert > p,
.alert > ul {
  margin-bottom: 0;
}

/* line 18, ../../sass/components/alert.scss */
.alert > p + p {
  margin-top: 5px;
}

/* line 21, ../../sass/components/alert.scss */
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

/* line 25, ../../sass/components/alert.scss */
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* line 32, ../../sass/components/alert.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 37, ../../sass/components/alert.scss */
.alert-success hr {
  border-top-color: #c9e2b3;
}

/* line 40, ../../sass/components/alert.scss */
.alert-success .alert-link {
  color: #2b542c;
}

/* line 43, ../../sass/components/alert.scss */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 48, ../../sass/components/alert.scss */
.alert-info hr {
  border-top-color: #a6e1ec;
}

/* line 51, ../../sass/components/alert.scss */
.alert-info .alert-link {
  color: #245269;
}

/* line 54, ../../sass/components/alert.scss */
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* line 59, ../../sass/components/alert.scss */
.alert-warning hr {
  border-top-color: #f7e1b5;
}

/* line 62, ../../sass/components/alert.scss */
.alert-warning .alert-link {
  color: #66512c;
}

/* line 65, ../../sass/components/alert.scss */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 70, ../../sass/components/alert.scss */
.alert-danger hr {
  border-top-color: #e4b9c0;
}

/* line 73, ../../sass/components/alert.scss */
.alert-danger .alert-link {
  color: #843534;
}
